<%- include('partials/header') %>
  </head>
  <body>
    <center>
    <div class="jumbotron text-white bg-dark"><h5>Welcome to <%= title %></h5></div>
    <a href="/skills">Dev Skills List</a>
  </center>

    <%- include('partials/footer') %>
  </body>
</html>
